.search-bar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.instagram{
    display: flex;
    align-items: center;
}

.icon{
    width: 25px;
   padding: 10px;
}

.insta-logo{
    border-left: 1px solid black;
}

input{
    text-align:center;
}


